In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Netflix.csv")
df

,Title,Genre,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,Actors,View Rating,IMDb Score,Rotten Tomatoes Score,Metacritic Score,Awards Nominated For,Boxoffice,Release Date,Netflix Release Date,Netflix Link,IMDb Votes
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,"Kåre Hedebrant, Per Ragnar, Lina Leandersson, ...",R,7.9,98.0,82.0,57.0,"$2,122,065",12-Dec-08,04-03-2021,https://www.netflix.com/watch/81415947,205926.0
1,HOW TO BUILD A GIRL,Comedy,English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,"Paddy Considine, Cleo, Beanie Feldstein, Dónal...",R,5.8,79.0,69.0,NaN,"$70,632",08-May-20,04-03-2021,https://www.netflix.com/watch/81041267,2838.0
2,Centigrade,"Drama, Thriller",English,Movie,6.4,Canada,1-2 hour,Brendan Walsh,"Brendan Walsh, Daley Nixon","Genesis Rodriguez, Vincent Piazza",Unrated,4.3,NaN,46.0,NaN,"$16,263",28-Aug-20,04-03-2021,https://www.netflix.com/watch/81305978,1720.0
3,ANNE+,Drama,Turkish,Series,7.7,"Belgium,Netherlands",< 30 minutes,NaN,NaN,"Vahide Perçin, Gonca Vuslateri, Cansu Dere, Be...",NaN,6.5,NaN,NaN,NaN,NaN,01-Oct-16,04-03-2021,https://www.netflix.com/watch/81336456,1147.0
4,Moxie,"Animation, Short, Drama",English,Movie,8.1,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,Stephen Irwin,NaN,Ragga Gudrun,NaN,6.3,NaN,NaN,4.0,NaN,22-Sep-11,04-03-2021,https://www.netflix.com/watch/81078393,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3,NaN,NaN,NaN,NaN,02-Jul-07,02-08-2015,https://www.netflix.com/watch/70288468,29.0
12227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.9,NaN,NaN,NaN,NaN,30-Jun-17,02-08-2015,https://www.netflix.com/watch/80063655,378.0
12228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,70.0,57.0,9.0,"$37,412,945",18-Mar-11,02-08-2015,https://www.netflix.com/watch/70123711,235166.0
12229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,2.0,NaN,04-Oct-14,02-08-2015,https://www.netflix.com/watch/80040330,6114.0
12230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,NaN,NaN,NaN,15-Dec-14,02-08-2015,https://www.netflix.com/watch/80063733,308.0

In [4]:
df.isnull().sum()

Title                     3004
Genre                     4345
Languages                 4553
Series or Movie           3004
Hidden Gem Score          4626
Country Availability      3015
Runtime                   3004
Director                  6155
Writer                    6104
Actors                    4496
View Rating               8232
IMDb Score                4485
Rotten Tomatoes Score     9460
Metacritic Score         10573
Awards Nominated For      8461
Boxoffice                10797
Release Date              4435
Netflix Release Date      2863
Netflix Link              2863
IMDb Votes                4486
dtype: int64

In [5]:
df.dropna(axis=0,inplace=True)

In [6]:
df.isnull().sum()

Title                    0
Genre                    0
Languages                0
Series or Movie          0
Hidden Gem Score         0
Country Availability     0
Runtime                  0
Director                 0
Writer                   0
Actors                   0
View Rating              0
IMDb Score               0
Rotten Tomatoes Score    0
Metacritic Score         0
Awards Nominated For     0
Boxoffice                0
Release Date             0
Netflix Release Date     0
Netflix Link             0
IMDb Votes               0
dtype: int64

#### Q1.A Box-office hit film means a film which has grossed $20,00,000. Find the number of Box-Office Hit Films.

In [8]:
# change the data type
df['Boxoffice'] = df['Boxoffice'].replace('[\$,]', '', regex=True).astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 788 entries, 0 to 9226
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  788 non-null    object
 1   Genre                  788 non-null    object
 2   Languages              788 non-null    object
 3   Series or Movie        788 non-null    object
 4   Hidden Gem Score       788 non-null    float64
 5   Country Availability   788 non-null    object
 6   Runtime                788 non-null    object
 7   Director               788 non-null    object
 8   Writer                 788 non-null    object
 9   Actors                 788 non-null    object
 10  View Rating            788 non-null    object
 11  IMDb Score             788 non-null    float64
 12  Rotten Tomatoes Score  788 non-null    float64
 13  Metacritic Score       788 non-null    float64
 14  Awards Nominated For   788 non-null    float64
 15  Boxoffice              788 non-null    float64
 16  Release Date           788 non-null    object
 17  Netflix Release Date   788 non-null    object
 18  Netflix Link           788 non-null    object
 19  IMDb Votes             788 non-null    float64
dtypes: float64(7), object(13)
memory usage: 129.3+ KB

In [9]:
# count the number of box office hit
box_office_hits=df[df['Boxoffice']>=2000000]
number_of_hits = box_office_hits.shape[0]
print("The number of Box-Office Hit Films is:",number_of_hits)

The number of Box-Office Hit Films is: 551

#### Q2.A critically acclaimed movie means a film that has IMDB rating of at least 8. Find the number of such films.

In [11]:
ratings=df[df['IMDb Score']>=8]
number_of_ratings=ratings.shape[0]
print("The number of films:",number_of_ratings)

The number of films: 35

#### Q3.Find all critically acclaimed movies which were Box-Office Hits.

In [13]:
# Define 
imdb = 8.0
gross= 2000000
# Find movies that meet both conditions
critically_acclaimed_hits = df[(df['IMDb Score'] >= imdb) & (df['Boxoffice'] >= gross)]

# Display the result
print("List of critically acclaimed Box-Office Hit movies:")
print(critically_acclaimed_hits[['Title', 'IMDb Score', 'Boxoffice']])

# Get the count
print(f"\nTotal number of such movies: {critically_acclaimed_hits.shape[0]}")

List of critically acclaimed Box-Office Hit movies:
                                          Title  IMDb Score    Boxoffice
15                                        Joker         8.4  335451311.0
17                             Harrys Daughters         8.1  381409310.0
69                                  Stand by Me         8.1   52287414.0
421                            The Elephant Man         8.1   26010864.0
697                       Me & You vs The World         8.1  164615351.0
865                                    Fiction.         8.9  107928762.0
1139                              Girls Revenge         8.1  167767189.0
1218                                       1917         8.3  159227644.0
1338                                  Spotlight         8.1   45055776.0
1359                                     Aliens         8.3   85160248.0
1595                                   Parasite         8.6   53369749.0
1722                                      Joker         8.4  335451311.0
1748                                   Sin City         8.0   74103820.0
2790                                      2 дня         8.5  205881154.0
2841                       Честное пионерское 2         8.5  205881154.0
2844                       Честное пионерское 3         8.2  415004880.0
3633                       Howl’s Moving Castle         8.2    5576743.0
4008                    The Biggest Little Farm         8.1    4366949.0
4425                        Gods Little Village         8.6    7564459.0
4603  Three Billboards Outside Ebbing, Missouri         8.1   54513740.0
4765                    They Shall Not Grow Old         8.3   17956913.0
4869                                 Green Book         8.2   85080171.0
5341          Spider-Man: Into the Spider-Verse         8.4  190241310.0
6187                                   Magnolia         8.0   22455976.0
6235                         Dances with Wolves         8.0  184208848.0
6237                              Casino Royale         8.0  167445960.0
6635                Blade Runner: The Final Cut         8.1   32868943.0
6859                                      Alien         8.4   81900459.0
7098                          Blade Runner 2049         8.0   92054159.0
7190                                     Wonder         8.0  132422809.0
8259                                     Aliens         8.3   85160248.0

Total number of such movies: 31

#### Q4.Find all critically acclaimed movies which has received at least 5 awards. Order them according to the number of awards.

In [15]:
awards=df[df['Awards Nominated For']>=5].sort_values(by='Awards Nominated For',ascending=True)
print("all critically acclaimed movies which has received at least 5 awards list:\n")
print(awards[['Title', 'Awards Nominated For', 'Boxoffice']])
# Get the count
print("\nTotal number of such movies:",awards.shape[0])

all critically acclaimed movies which has received at least 5 awards list:

                                  Title  Awards Nominated For    Boxoffice
4791                             Ransom                   5.0  136492681.0
8523   The Night Is Short, Walk On Girl                   5.0     406490.0
2169  Scary Stories to Tell in the Dark                   5.0   68947075.0
3364               Black Cat, White Cat                   5.0     351447.0
8123                            Paprika                   5.0     882267.0
...                                 ...                   ...          ...
7081               Call Me by Your Name                 255.0   18095701.0
1595                           Parasite                 262.0   53369749.0
5125                     A Star Is Born                 272.0  215288866.0
4382                 The Shape of Water                 345.0   63859435.0
3757      Once Upon a Time in Hollywood                 355.0  142502728.0

[523 rows x 3 columns]

Total number of such movies: 523

#### Q5.Find all critically acclaimed tv series for United States.

In [17]:
us_series=df[(df['Series or Movie']=='Series') & (df['Country Availability'].str.contains("United Kingdom"))]
critically_acclaimed=us_series[(us_series['IMDb Score']>=8.0) | (us_series['Rotten Tomatoes Score']>=85.0)]
print(critically_acclaimed[["Title","Series or Movie", "IMDb Score", "Rotten Tomatoes Score"]])

                        Title Series or Movie  IMDb Score  \
368                     Lupin          Series         7.7
867                 The Guest          Series         6.7
1242        The Queens Gambit          Series         7.3
1359                   Aliens          Series         8.3
1417            Dragons Dogma          Series         7.1
1610         Chefs Table: BBQ          Series         7.3
2128  Its Okay to Not Be Okay          Series         7.3
3259              Snowpiercer          Series         7.1
3820              Unstoppable          Series         6.8
8052             This Evening          Series         6.4

      Rotten Tomatoes Score
368                    95.0
867                    91.0
1242                   96.0
1359                   97.0
1417                   85.0
1610                   87.0
2128                   86.0
3259                   94.0
3820                   87.0
8052                   97.0

In [18]:
us_series=df[(df['Series or Movie']=='Series') & (df['Country Availability'].str.contains("United Kingdom"))]
critically_acclaimed=us_series[(us_series['IMDb Score']>=8.0) | (us_series['Rotten Tomatoes Score']>=85.0)]
print(critically_acclaimed[["Title","Series or Movie", "IMDb Score", "Rotten Tomatoes Score"]])

                        Title Series or Movie  IMDb Score  \
368                     Lupin          Series         7.7
867                 The Guest          Series         6.7
1242        The Queens Gambit          Series         7.3
1359                   Aliens          Series         8.3
1417            Dragons Dogma          Series         7.1
1610         Chefs Table: BBQ          Series         7.3
2128  Its Okay to Not Be Okay          Series         7.3
3259              Snowpiercer          Series         7.1
3820              Unstoppable          Series         6.8
8052             This Evening          Series         6.4

      Rotten Tomatoes Score
368                    95.0
867                    91.0
1242                   96.0
1359                   97.0
1417                   85.0
1610                   87.0
2128                   86.0
3259                   94.0
3820                   87.0
8052                   97.0

#### Q6.IMDB Rating is based on IMDB Votes. Find all films which inspite of receiving at least. 100 votes did not receive any award.

In [20]:
films_no_awards = df[
    (df["Series or Movie"] == "Movie") & (df["IMDb Votes"] >= 100) & (df["Awards Nominated For"]==0)
]

# Select relevant columns
print(films_no_awards[["Title", "Genre", "IMDb Score", "IMDb Votes", "Netflix Link"]])

Empty DataFrame
Columns: [Title, Genre, IMDb Score, IMDb Votes, Netflix Link]
Index: []

#### Q7.A popular film means it is released at Netflix platforms within 1 year.Find all Films which were released in Netflix within 2 years of actual release.

In [22]:
df["Release Year"] = pd.to_datetime(df["Release Date"], errors='coerce').dt.year
df["Netflix Release Year"] = pd.to_datetime(df["Netflix Release Date"],errors='coerce').dt.year

popular_films = df[
    (df["Series or Movie"] == "Movie") &
    (df["Netflix Release Year"].notna()) &
    (df["Release Year"].notna()) &
    ((df["Netflix Release Year"] - df["Release Year"]) <= 2)
]

# Select relevant columns
print(popular_films[["Title", "Release Year", "Netflix Release Year"]])

                 Title  Release Year  Netflix Release Year
15               Joker          2019                2021.0
400    Midnight Family          2020                2021.0
415              Waves          2019                2021.0
420      Captive State          2019                2021.0
425        Teen Spirit          2019                2021.0
...                ...           ...                   ...
9061     A Ghost Story          2017                2018.0
9063      The Shallows          2016                2018.0
9064     Money Monster          2016                2018.0
9069  Almost Christmas          2016                2018.0
9071       Planetarium          2017                2018.0

[242 rows x 3 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_2412\2106005329.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Release Year"] = pd.to_datetime(df["Release Date"], errors='coerce').dt.year

#### Q8.Find all popular films which are available in Canada.

In [24]:
canada_films=df[(df['Series or Movie']=='Movie') & (df['Country Availability'].str.contains("Canada"))]
canada_popular_films=canada_films[(canada_films['IMDb Score']>=8.0)]
print(canada_popular_films[["Title","Series or Movie","Country Availability"]])

                                   Title Series or Movie  \
1139                       Girls Revenge           Movie
1748                            Sin City           Movie
3633                Howl’s Moving Castle           Movie
3812  Nausicaä of the Valley of the Wind           Movie
4008             The Biggest Little Farm           Movie
4765             They Shall Not Grow Old           Movie
5341   Spider-Man: Into the Spider-Verse           Movie
6635         Blade Runner: The Final Cut           Movie
7190                              Wonder           Movie
8646     Monty Python and the Holy Grail           Movie

                                   Country Availability
1139  Lithuania,United Kingdom,Russia,United States,...
1748  Lithuania,Greece,Switzerland,United Kingdom,Ru...
3633  Hong Kong,South Korea,Russia,India,Hungary,Por...
3812  South Korea,France,Hong Kong,Russia,Hungary,In...
4008                   Canada,Argentina,Mexico,Colombia
4765  Canada,India,Thailand,Singapore,Hong Kong,Mala...
5341  South Africa,Poland,Czech Republic,Spain,Unite...
6635  France,Belgium,Switzerland,Canada,Italy,Austra...
7190  Japan,Hong Kong,Hungary,Romania,Belgium,Canada...
8646  Hong Kong,Australia,Germany,Singapore,Russia,C...

#### Q9.Find all movies which have a runtime of at least 1 hour.

In [104]:
# runtime extraction
def extract_runtime(runtime_str):
    if pd.isna(runtime_str) or not isinstance(runtime_str, str):
        return np.nan  # Handle missing or invalid values

    hours = 0
    minutes = 0

    # Extract hours if present
    if "h" in runtime_str:
        try:
            hours = int(runtime_str.split("h")[0].strip())
        except ValueError:
            hours = 0

    # Extract minutes if present
    if "m" in runtime_str:
        try:
            minutes = int(runtime_str.split("m")[0].split()[-1].strip())
        except ValueError:
            minutes = 0

    return (hours * 60) + minutes  # Convert hours to minutes and sum

# Apply function to extract runtime in minutes
df["Runtime Minutes"] = df["Runtime"].apply(extract_runtime)

# Find movies with a runtime of at least 1 hour
movies_one_hour_plus = df[
    (df["Series or Movie"] == "Movie") &
    (df["Runtime Minutes"] >= 60)
]


movies_one_hour_plus[["Title", "Genre", "Runtime Minutes", "Netflix Link"]]

Empty DataFrame
Columns: [Title, Genre, Runtime Minutes, Netflix Link]
Index: []

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 788 entries, 0 to 9226
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  788 non-null    object
 1   Genre                  788 non-null    object
 2   Languages              788 non-null    object
 3   Series or Movie        788 non-null    object
 4   Hidden Gem Score       788 non-null    float64
 5   Country Availability   788 non-null    object
 6   Runtime                788 non-null    object
 7   Director               788 non-null    object
 8   Writer                 788 non-null    object
 9   Actors                 788 non-null    object
 10  View Rating            788 non-null    object
 11  IMDb Score             788 non-null    float64
 12  Rotten Tomatoes Score  788 non-null    float64
 13  Metacritic Score       788 non-null    float64
 14  Awards Nominated For   788 non-null    float64
 15  Boxoffice              788 non-null    float64
 16  Release Date           788 non-null    object
 17  Netflix Release Date   788 non-null    object
 18  Netflix Link           788 non-null    object
 19  IMDb Votes             788 non-null    float64
 20  Release Year           788 non-null    int32
 21  Netflix Release Year   411 non-null    float64
 22  Runtime Minutes        788 non-null    int64
dtypes: float64(8), int32(1), int64(1), object(13)
memory usage: 144.7+ KB

#### Q10.Find all tv series which have been created with more than 1 language.

In [29]:
multi_language_series = df[
    (df["Series or Movie"] == "Series") &
    (df["Languages"].str.contains(","))]
print(multi_language_series[["Title","Languages"]])

                                    Title  \
0                        Lets Fight Ghost
54                                  Alice
307                               Im Home
368                                 Lupin
490                            Evils Wave
742                                 Babel
998        Im Standing on a Million Lives
1125                        The Liberator
1162                       Love & Anarchy
1184                                 Evil
1242                    The Queens Gambit
1567                             Outbreak
1610                     Chefs Table: BBQ
1746                   Worlds Most Wanted
1860                     Meet the Parents
1925       Id like to Borrow a Girlfriend
2128              Its Okay to Not Be Okay
3160                          Angel Heart
3259                          Snowpiercer
3560                Sing Yesterday for Me
3842                               Babies
4515       Im with the Band: Nasty Cherry
5730  The Hateful Eight: Extended Version
8044                         The Terminal
8123                              Paprika

                                              Languages
0                                      Swedish, Spanish
54                                   English, Cantonese
307                                   English, Sanskrit
368                           Japanese, English, French
490                                    Swedish, Finnish
742   English, Arabic, Spanish, Japanese, Berber lan...
998                                   English, Sanskrit
1125                           Spanish, English, French
1162                                    English, French
1184                                   Swedish, Finnish
1242                            English, German, French
1567                            English, Korean, French
1610                                   English, Spanish
1746                   English, Spanish, Hebrew, Arabic
1860             English, Thai, Spanish, Hebrew, French
1925                                  English, Sanskrit
2128                                    English, Hebrew
3160                                    English, French
3259   English, Korean, French, Japanese, Czech, German
3560                       English, Japanese, Ukrainian
3842                       English, Japanese, Mongolian
4515                                  English, Sanskrit
5730                           English, Spanish, French
8044  English, Bulgarian, Spanish, Russian, Mandarin...
8123                                  Japanese, English

#### Q11.Find all movies which are available in Japan and fall in multiple genres.

In [91]:
movies_in_japan = df[
    (df["Series or Movie"] == "Movie") & 
    (df["Country Availability"].str.contains("Japan", case=False, na=False)) & 
    (df["Genre"].str.contains(","))]  # Ensuring multiple genres

# Select relevant columns
movies_in_japan = movies_in_japan[["Title", "Genre"]]

# Display the filtered results
movies_in_japan

                      Title                                              Genre
97    The Girl on the Train                    Crime, Drama, Mystery, Thriller
99           Ride Your Wave  Animation, Comedy, Drama, Family, Fantasy, Rom...
110                     Red                    Action, Comedy, Crime, Thriller
125                    Love                                     Drama, Romance
262      Sonic the Hedgehog                  Action, Adventure, Comedy, Sci-Fi
...                     ...                                                ...
9020           Ghostbusters                    Action, Comedy, Fantasy, Sci-Fi
9038              Good Time                             Crime, Drama, Thriller
9061          A Ghost Story                            Drama, Fantasy, Romance
9192                  Risen                    Action, Drama, History, Mystery
9221          The Foreigner                                   Action, Thriller

[145 rows x 2 columns]

#### Q12.Total Rating of a film means the sum of Hidden Gem Score and IMDB Score. Find all films which have a combined total rating of at least 15.

In [102]:
Total_Rating = df[
    (df["Series or Movie"] == "Movie") & 
    (df["Country Availability"].str.contains("Japan")) & 
    (df["Genre"].str.contains(",")) &  # Ensuring multiple genres
    (df["Total Rating"] >= 15)
]

# Select relevant columns
Total_Rating = Total_Rating[["Title", "Genre", "Total Rating", "Netflix Link"]]

# Display the filtered results
Total_Rating

,Title,Genre,Total Rating,Netflix Link
4190,Penguin Highway,"Animation, Adventure, Family, Fantasy, Mystery",15.3,https://www.netflix.com/watch/81037598
6892,Heneral Luna,"Action, Biography, History, War",15.0,https://www.netflix.com/watch/80084834

#### Q13.A Dramatic film means a film which is under Drama Genre. Find all dramatic TV Series which came from the country Japan.

In [98]:
dramatic_series_japan = df[
    (df["Series or Movie"] == "Series") & 
    (df["Country Availability"].str.contains("Japan")) & 
    (df["Genre"].str.contains("Drama"))
]

# Select relevant columns
dramatic_series_japan[["Title", "Genre", "Total Rating", "Netflix Link"]]

,Title,Genre,Total Rating,Netflix Link
405,My Girl,"Comedy, Drama, Family, Romance",9.9,https://www.netflix.com/watch/80999062
490,Evils Wave,Drama,11.3,https://www.netflix.com/watch/81367819
1125,The Liberator,"Biography, Drama, History",11.9,https://www.netflix.com/watch/81019775
1162,Love & Anarchy,"Drama, Romance",8.6,https://www.netflix.com/watch/81069541
1242,The Queens Gambit,"Biography, Drama, History",11.6,https://www.netflix.com/watch/80234304
1417,Dragons Dogma,"Action, Crime, Drama, Thriller",10.7,https://www.netflix.com/watch/80992784
1458,The Duchess,"Biography, Drama, History, Romance",10.1,https://www.netflix.com/watch/80223040
1567,Outbreak,"Action, Drama, Thriller",9.7,https://www.netflix.com/watch/81314896
1610,Chefs Table: BBQ,"Adventure, Comedy, Drama",11.1,https://www.netflix.com/watch/81292974
1949,About Time,"Comedy, Drama, Fantasy, Romance, Sci-Fi",11.2,https://www.netflix.com/watch/81267762
3259,Snowpiercer,"Action, Drama, Sci-Fi",11.2,https://www.netflix.com/watch/80177458
4114,The Circle,"Drama, Sci-Fi, Thriller",7.1,https://www.netflix.com/watch/81044551
8008,The Outsiders,"Crime, Drama",10.0,https://www.netflix.com/watch/81072883

#### Q14.Find all films which were directed by a person whose name starts with C.

In [85]:
films_directed_by_c = df[
    (df["Series or Movie"] == "Movie") & 
    
    (df["Director"].str.startswith("C", na=False))
]

# Select relevant columns
films_directed_by_c = films_directed_by_c[["Title", "Director", "Genre", "Total Rating"]]

# Display the filtered results
films_directed_by_c

,Title,Director,Genre,Total Rating
154,The Flower of Evil,Claude Chabrol,Drama,13.3
478,Lizzie,Craig William Macneill,"Biography, Crime, Drama, Mystery, Thriller",10.7
487,High Life,Claire Denis,"Adventure, Drama, Horror, Mystery, Sci-Fi, Thr...",9.4
1050,Birds of Prey (And the Fantabulous Emancipatio...,Cathy Yan,"Action, Adventure, Comedy, Crime",9.4
1893,Extreme Ops,Christian Duguay,"Action, Adventure, Thriller",8.0
2040,Rio,Carlos Saldanha,"Animation, Adventure, Comedy, Crime, Family, M...",10.3
2511,22 минуты,"Christopher Miller, Phil Lord","Action, Comedy, Crime",10.8
3350,Ophelia,Claire McCarthy,"Drama, History, Romance, Thriller, War",10.8
3603,The Ruins,Carter Smith,"Adventure, Fantasy, Horror, Mystery, Sci-Fi, T...",8.4
3787,The Death of Mr. Lazarescu,Cristi Puiu,"Comedy, Drama",12.2
3788,Aurora,Cristi Puiu,Drama,14.2
4100,Missing Link,Chris Butler,"Animation, Adventure, Comedy, Family, Fantasy",10.4
4105,The Hustle,Chris Addison,"Comedy, Crime",7.1
4144,John Wick: Chapter 3 - Parabellum,Chad Stahelski,"Action, Crime, Thriller",11.3
4308,Happy Death Day 2U,Christopher Landon,"Comedy, Horror, Mystery, Sci-Fi, Thriller",9.4
4332,Light of My Life,Casey Affleck,"Drama, Sci-Fi, Thriller",10.2
4334,12:08 East of Bucharest,Corneliu Porumboiu,"Comedy, Drama",12.9
4578,Thoroughbreds,Cory Finley,"Comedy, Crime, Drama, Thriller",10.5
4604,Ferdinand,Carlos Saldanha,"Animation, Adventure, Comedy, Family, Fantasy",10.0
4674,The Mule,Clint Eastwood,"Crime, Drama, Thriller",10.3
4794,Mortal Engines,Christian Rivers,"Action, Adventure, Fantasy, Sci-Fi, Thriller",8.3
5146,The Rider,Chloé Zhao,"Drama, Western",11.8
5380,The Nun,Corin Hardy,"Horror, Mystery, Thriller",7.4
5457,Happy Death Day,Christopher Landon,"Comedy, Horror, Mystery, Thriller",9.8
5483,Blindspotting,Carlos López Estrada,"Comedy, Crime, Drama",11.5
5524,Mission: Impossible - Fallout,Christopher McQuarrie,"Action, Adventure, Thriller",12.0
6325,The Bullet Vanishes,Chi-Leung Law,"Action, Adventure, Drama, Mystery, Thriller",14.3
6409,The Book of Henry,Colin Trevorrow,"Crime, Drama, Thriller",8.6
6814,The 15:17 to Paris,Clint Eastwood,"Biography, Drama, Thriller",7.3
7020,Operation Finale,Chris Weitz,"Biography, Drama, History, Thriller, War",9.7
7121,Thirteen,Catherine Hardwicke,Drama,10.4
8305,"I, Tonya",Craig Gillespie,"Biography, Comedy, Drama, Sport",11.5
8352,Ice Age,"Carlos Saldanha, Chris Wedge","Animation, Adventure, Comedy, Family, Fantasy",11.0
8377,Ice Age: Dawn of the Dinosaurs,"Carlos Saldanha, Mike Thurmeier","Animation, Adventure, Comedy, Family, Fantasy",9.6
8420,The LEGO Ninjago Movie,"Charlie Bean, Bob Logan, Paul Fisher","Animation, Action, Adventure, Comedy, Family",8.8
8441,Dunkirk,Christopher Nolan,"Action, Drama, History, Thriller, War",12.2
8480,Police Story,"Chi-Hwa Chen, Jackie Chan","Action, Comedy, Crime, Thriller",11.7
8714,Better Watch Out,Chris Peckover,"Comedy, Horror, Thriller",10.2
8890,The Bridges of Madison County,Clint Eastwood,"Drama, Romance",11.5
8923,John Wick: Chapter Two,Chad Stahelski,"Action, Crime, Thriller",11.5
9183,The Lego Batman Movie,Chris McKay,"Animation, Action, Comedy, Family",11.3
9211,The Nut Job 2: Nutty by Nature,Cal Brunker,"Animation, Adventure, Comedy, Family, Fantasy",9.3

#### Q15.Find all films directed by Christopher Nolan whose name ends with O

In [83]:
nolan_films_ending_o = df[
    (df["Series or Movie"] == "Movie") & 
    (df["Director"].str.contains("Christopher Nolan", case=False, na=False)) & 
    (df["Title"].str.endswith("o", na=False))
]

# Select relevant columns
nolan_films_ending_o = nolan_films_ending_o[["Title", "Director", "Genre", "Total Rating", "Netflix Link"]]

# Display the filtered results
nolan_films_ending_o

Empty DataFrame
Columns: [Title, Director, Genre, Total Rating, Netflix Link]
Index: []

#### Q16.Find all films which have been directed and written by Christopher Nolan.

In [81]:
directed= df[
    (df["Series or Movie"] == "Movie") & 
    (df["Director"].str.contains("Christopher Nolan")) & 
    (df["Writer"].str.contains("Christopher Nolan"))
]

# Select relevant columns
directed = directed[["Title", "Director","Writer", "Total Rating", "Netflix Link"]]

# Display the filtered results
directed

,Title,Director,Writer,Total Rating,Netflix Link
8441,Dunkirk,Christopher Nolan,Christopher Nolan,12.2,https://www.netflix.com/watch/80170278

#### Q17.Find the English movie name(title) which has IMDB score more than 8.5.

In [96]:
high_rated_english_movies = df[
    (df["Series or Movie"] == "Movie") & 
    (df["Languages"].str.contains("English")) &
    (df["IMDb Score"] > 8.5)]
high_rated_english_movies = high_rated_english_movies[["Title", "IMDb Score", "Netflix Link"]]
high_rated_english_movies

         Title  IMDb Score                            Netflix Link
865   Fiction.         8.9  https://www.netflix.com/watch/81342987
1595  Parasite         8.6  https://www.netflix.com/watch/81221938